@import "tailwindcss"; 

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-light: #9638E5;
  --main: #7E1A8E;
  --main-dark: #641171;
  --blue:#2D64E6;
  --orange: #FFA662;
  --green: #059388;
  --green-light: #BCB96A;
  --grey:#595959;
  --yellow: #BCB96A;
  --blue-light:#02698C;
  /* about */
  --greenblue: #34939B;
  --seablue: #D2FAFF;
}
 
@theme inline {
  --color-background: var(--background);
  --color-main: var(--main);
  --color-main-light: var(--main-light);
  --color-main-dark: var(--main-dark);
  --color-orange: var(--orange);
  --color-blue: var(--blue);
  --color-blue-light: var(--blue-light);
  --color-yellow: var(--yellow);
  --color-grey: var(--grey);
  --color-green: var(--green);
  --color-green-light: var(--green-light);
  --color-seablue : var(--seablue);
  --color-greenblue: var(--greenblue);
  
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lora: var(--font-lora); 
  --font-karla: var(--font-karla);
  
  --animate-spin-slow :  spin-slow 2.5s linear infinite;

  --breakpoint-xxl: 98.125rem;
}

@keyframes spin-slow {
    to {
      transform: rotate(360deg);
    }
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
